<!-- {{forloop}}} DTL for 문 안에 자동으로 생기는 객체 -->
{% for menu in menus %}
<p>{{ forloop.counter }} {{ menu }}</p>
{% endfor %}

{% for user in empty_list %}
<p>{{ user }}</p>
{% empty %}
<p>현재 가입한 유저가 없습니다.</p>
{% endfor %}
<hr>

<h3>2.조건문</h3>
{% if '아메리카노' in menus %}
<p>아메리카노는 얼죽아</p>
{% endif %}
<hr>

{% for menu in menus %}
    {{ forloop.counter }}번째 도는 중
    <!--forloop.first를 하면 이 for문이 첫번째로 도는 거면 True(참)이 된다.-->
    {% if forloop.first %}
    <p>아이스+아메리카노</p>
    {% else %}
    <p>{{ menu }}</p>
    {% endif %}
{% endfor %}

<h3>6. 글자 관련 필터</h3>
<p>{{ 'abc'|ㅣlength }}</p>
<p>{{ 'ABC'|lower }}</p>
<p>{{ my_sentence|title}}</p>
<p>{{ 'abc def' |capfirst}}</p>
<p>{{ menus|random}}</p>
<hr>

<h3>7. 연산</h3>
<p>{{ 4|add:6 }}</p>
<hr>

<!-- pip install django-mathfilters / installed a
sub - subtraction
mul - multiplication
div - division
abs - absolute value  -->

<h3>8. 날짜표현</h3>
{{% datetimenow %}} <br>
{% now "DATETIME_FORMAT" %} <br>
{% now "DATE_FORMAT" %} <br>
{% now "SHORT_DATE_FORMAT" %} <br>
<hr>
{% now "Y년 m월 d일 (D) h:i" %}
<hr>
{% now "Y"년 m월 current_year %}
Copyright 